#added by trueheads > will remove once supercombo adds multi-os support
launch.sh

# Claude Code settings
.claude/settings.local.json

# Dependencies
node_modules/

# Build outputs
dist/
.next/
.automaker/images/
.automaker/
/.automaker/*
/.automaker/

/logs
.claude/settings.local.json
